:root {
  --clr-black: #1c1c1c;
  --clr-gray: #ececec;
  --cl-white: #f7f7f7;
}

#root {
  width: 100%;
}

.color {
  /* background-image: url("back.jpg"); */
  padding: 0%;

  background-repeat: no-repeat;
  background-color: var(--clr-gray);
}
